/*General Settings*/

* {
  font-size: 1em;
  font-family: Verdana;
  box-sizing: border-box;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  color: #286192;
  padding: 1.5em 0 0 1em;
}

h3 {
  color: #337AB7;
}

h3 small {
  color: #f64e3f;
  font-weight:600;
}

.hiddens-xs {
  display:none;
}

.picture {
  height: 13em;
  max-width: 100%;
  background-repeat: no-repeat;
  margin: 1em 0 0;
}

/*Back to Top*/

.button {
  position:fixed;
  margin-bottom: 0;
  bottom: 0;
  box-shadow: 0 -5px 5px -5px #333;
}

/*code color #337AB7 */

/***********************/

/*Header*/

.title-bar {                          /*Header color background and style **/
  background-color: #337AB7;
  box-shadow: 0 4px 6px -6px #222;
}

#menu a {
  padding: .7rem .5rem;
}

/**************/

/*Main Block*/

.picture-wrap {
  margin-top: -1em;
  border: 1px solid lightgrey;
}

.callout {
  margin-top: 1.3em;
}

/*Images*/

/*Syntaxe*/

/*row 1 */

.pchild {
  background-image: url(../img/s-child.png);
}

.pmult {
  background-image: url(../img/s-mult.png);
}

.psibl {
  background-image: url(../img/s-sibl.png);
}

/*row2*/

.ptag {
  background-image: url(../img/s-tag.png);
}

.ptext {
  background-image: url(../img/s-text.png);
}

.pgroup{
  background-image: url(../img/s-group.png);
}

/*HTML*/

/*row1*/

.phtml {
  background-image: url(../img/h-html.png);
}

.psem {
  background-image: url(../img/h-sem.png);
}

.plist {
  background-image: url(../img/h-ol.png);
}

/*row2*/

.pinp {
  background-image: url(../img/h-input.png);
}


.plink {
  background-image: url(../img/h-link.png);
}

/*CSS*/

/*row 1*/

.pbord {
  background-image: url(../img/c-border.png);
}

.pmargin{
  background-image: url(../img/c-margin.png);
}

.ppos {
  background-image: url(../img/c-position.png);
}

/********************************************/


/*Footer*/

footer {
  margin-top: 2em;
  margin-bottom: 2.5em;
  text-align: center;
  border: 1px solid #EBEBEB;
  background-color: #EBEBEB;
  color: #337AB7;
}

footer h3 {
  padding-top: .5em;
}

/******************************************************************************/
/******************************************************************************/
/*****************************RESPONSIVE DESIGN********************************/
/******************************************************************************/
/******************************************************************************/


/*TABLET*/

@media screen and (min-width: 640px) {

  .callout h3 {
    font-size: 1.4em;
  }
}

/*DESKTOP*/

@media screen and (min-width: 1022px) {

  .callout h3 {
    font-size: 1em;
  }
}

/*Large and very large desktop*/

@media screen and (min-width: 1280px) {

  .callout h3 {
    font-size: 1.2em;
  }

  #bar{
    width: 100%;
    margin: auto;
    float:none;
  }

  #menu{
    margin: 0 38%;
  }

}
